<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeHandlers>
		<package name="com.tuniu.mauritius.ako.common.mongo.typehandler" />
	</typeHandlers>
	<!--<plugins>-->
		<!--&lt;!&ndash; 分页拦截器 &ndash;&gt;-->
		<!--<plugin interceptor="com.tuniu.nfbird.mybatis.plugins.PaginationPlugin">-->
			<!--<property name="dialect" value="mysql"/>-->
		<!--</plugin>		-->
	<!--</plugins>-->
	
</configuration>
